<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Каталог - ЭдуКуб</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="icon" type="image/png" href="./assets/favicons/favicon-96x96.png" sizes="96x96"/>
	<link rel="icon" type="image/svg+xml" href="./assets/favicons/favicon.svg"/>
	<link rel="shortcut icon" href="./assets/favicons/favicon.ico"/>
	<link rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png"/>
	<link rel="manifest" href="./assets/favicons/site.webmanifest"/>
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link href="css/main.0fcf.css" rel="stylesheet">
</head>
<body class="body body--white body--inner">
	<header class="header">
		<div class="header__fixed">
			<div class="container">
				<div class="header-layout-regular">
					<div class="header-layout-regular__cell header-layout-regular__cell--logo">
						<a href="./" class="logo-head logo-head--regular">
							<img src="./assets/images/logo-regular.svg" alt="Логотип">
						</a>
					</div>
					<div class="header-layout-regular__cell header-layout-regular__cell--main">
						<div class="header-grid header-grid--regular">
							<div class="header-grid__mobile">
								<button class="button-burger" data-menu="button">
									<svg class="button-burger__icon">
										<use href="./assets/sprite.svg#icon-menu"></use>
									</svg>
									<span class="button-burger__text">
                                Каталог
                            </span>
								</button>
							</div>
							<div class="header-grid__nav">
								<nav class="header-nav header-nav--regular">
									<a href="" class="header-nav__link">
										о компании
									</a>
									<a href="" class="header-nav__link">
										оплата и доставка
									</a>
									<a href="" class="header-nav__link">
										блог
									</a>
									<a href="" class="header-nav__link">
										контакты
									</a>
								</nav>
							</div>
							<div class="header-grid__contacts">
								<div class="header-contacts">
									<a href="tel:+74951202186" class="header-contacts__link">
										+7 (495) 120-21-86
									</a>
									<a href="mailto:info@educube.ru" class="header-contacts__link header-contacts__link--accent">
										info@educube.ru
									</a>
								</div>
							</div>
							<div class="header-grid__toolbar">
								<a class="button-header" href="">
                            <span class="button-header__counter" data-product-counter="block">
                                2
                            </span>
									<svg class="button-header__icon">
										<use href="./assets/sprite.svg#icon-card"></use>
									</svg>
								</a>
							</div>
							<div class="header-grid__separator"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<section class="menu-layout" data-menu="block" hidden="hidden">
		<button class="menu-layout__button" data-menu="button">
			<svg class="menu-layout__icon">
				<use href="./assets/sprite.svg#icon-close"></use>
			</svg>
		</button>
		<div class="menu-layout__content">
			<div class="container">
				<div class="grid">
					<div class="grid__col grid__col--5 grid__col-mob--4">
						<!--
						Когда мы в десктоп режиме, то при клике на ссылку справа открывается блок с выбором подкатегорий
						Когда мы в мобилке, то сразу проваливаемся на страницу каталога с родительской категорией.
						В макете вообще не было мобильного меню, и я решил сделать так, иначе оно слишком переусложнено и неудобно для использования
						-->
						<nav class="menu-sidebar">
							<a href="./catalog.html" data-menu-link="1" class="menu-sidebar__link" data-menu="link">
								Конструкторы
							</a>
							<a href="./catalog.html" data-menu-link="2" class="menu-sidebar__link" data-menu="link">
								Дроны
							</a>
							<a href="./catalog.html" data-menu-link="3" class="menu-sidebar__link" data-menu="link">
								3d принтеры
							</a>
							<a href="./catalog.html" data-menu-link="4" class="menu-sidebar__link" data-menu="link">
								Цифровые лаборатории
							</a>
							<a href="./catalog.html" data-menu-link="5" class="menu-sidebar__link" data-menu="link">
								Интерактивное оборудование
							</a>
							<a href="./catalog.html" data-menu-link="6" class="menu-sidebar__link" data-menu="link">
								Мебель
							</a>
							<a href="./catalog.html" data-menu-link="7" class="menu-sidebar__link" data-menu="link">
								Станки
							</a>
							<a href="./catalog.html" data-menu-link="8" class="menu-sidebar__link" data-menu="link">
								VR Оборудование
							</a>
							<a href="./catalog.html" data-menu-link="9" class="menu-sidebar__link" data-menu="link">
								Ноутбуки
							</a>
						</nav>
					</div>
					<div class="grid__col grid__col--6 mob-hidden">
						<div class="grid" hidden="hidden" data-menu="section" data-menu-section="1" id="menu-1">
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										Бренды
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											LEGO Education
										</a>
										<a href="" class="menu-stack__link">
											Tetrix
										</a>
										<a href="" class="menu-stack__link">
											HiTechnic
										</a>
										<a href="" class="menu-stack__link">
											Mindsensors
										</a>
										<a href="" class="menu-stack__link">
											ROBOT C
										</a>
									</nav>
								</div>
							</div>
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										Возраст
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											начальная школа
										</a>
										<a href="" class="menu-stack__link">
											средняя школа
										</a>
										<a href="" class="menu-stack__link">
											детский сад
										</a>
									</nav>
								</div>
							</div>
						</div>
						<div class="grid" hidden="hidden" data-menu="section" data-menu-section="2" id="menu-2">
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										Бренды
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											LEGO Education
										</a>
										<a href="" class="menu-stack__link">
											Tetrix
										</a>
										<a href="" class="menu-stack__link">
											HiTechnic
										</a>
										<a href="" class="menu-stack__link">
											Mindsensors
										</a>
										<a href="" class="menu-stack__link">
											ROBOT C
										</a>
									</nav>
								</div>
							</div>
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										2 Возраст
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											начальная школа
										</a>
										<a href="" class="menu-stack__link">
											средняя школа
										</a>
										<a href="" class="menu-stack__link">
											детский сад
										</a>
									</nav>
								</div>
							</div>
						</div>
						<div class="grid" hidden="hidden" data-menu="section" data-menu-section="3" id="menu-3">
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										3 Бренды
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											LEGO Education
										</a>
										<a href="" class="menu-stack__link">
											Tetrix
										</a>
										<a href="" class="menu-stack__link">
											HiTechnic
										</a>
										<a href="" class="menu-stack__link">
											Mindsensors
										</a>
										<a href="" class="menu-stack__link">
											ROBOT C
										</a>
									</nav>
								</div>
							</div>
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										Возраст
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											начальная школа
										</a>
										<a href="" class="menu-stack__link">
											средняя школа
										</a>
										<a href="" class="menu-stack__link">
											детский сад
										</a>
									</nav>
								</div>
							</div>
						</div>
						<div class="grid" hidden="hidden" data-menu="section" data-menu-section="4" id="menu-4">
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										4 Бренды
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											LEGO Education
										</a>
										<a href="" class="menu-stack__link">
											Tetrix
										</a>
										<a href="" class="menu-stack__link">
											HiTechnic
										</a>
										<a href="" class="menu-stack__link">
											Mindsensors
										</a>
										<a href="" class="menu-stack__link">
											ROBOT C
										</a>
									</nav>
								</div>
							</div>
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										Возраст
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											начальная школа
										</a>
										<a href="" class="menu-stack__link">
											средняя школа
										</a>
										<a href="" class="menu-stack__link">
											детский сад
										</a>
									</nav>
								</div>
							</div>
						</div>
						<div class="grid" hidden="hidden" data-menu="section" data-menu-section="5" id="menu-5">
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										5 Бренды
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											LEGO Education
										</a>
										<a href="" class="menu-stack__link">
											Tetrix
										</a>
										<a href="" class="menu-stack__link">
											HiTechnic
										</a>
										<a href="" class="menu-stack__link">
											Mindsensors
										</a>
										<a href="" class="menu-stack__link">
											ROBOT C
										</a>
									</nav>
								</div>
							</div>
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										Возраст
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											начальная школа
										</a>
										<a href="" class="menu-stack__link">
											средняя школа
										</a>
										<a href="" class="menu-stack__link">
											детский сад
										</a>
									</nav>
								</div>
							</div>
						</div>
						<div class="grid" hidden="hidden" data-menu="section" data-menu-section="6" id="menu-6">
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										6 Бренды
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											LEGO Education
										</a>
										<a href="" class="menu-stack__link">
											Tetrix
										</a>
										<a href="" class="menu-stack__link">
											HiTechnic
										</a>
										<a href="" class="menu-stack__link">
											Mindsensors
										</a>
										<a href="" class="menu-stack__link">
											ROBOT C
										</a>
									</nav>
								</div>
							</div>
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										Возраст
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											начальная школа
										</a>
										<a href="" class="menu-stack__link">
											средняя школа
										</a>
										<a href="" class="menu-stack__link">
											детский сад
										</a>
									</nav>
								</div>
							</div>
						</div>
						<div class="grid" hidden="hidden" data-menu="section" data-menu-section="7" id="menu-7">
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										7 Бренды
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											LEGO Education
										</a>
										<a href="" class="menu-stack__link">
											Tetrix
										</a>
										<a href="" class="menu-stack__link">
											HiTechnic
										</a>
										<a href="" class="menu-stack__link">
											Mindsensors
										</a>
										<a href="" class="menu-stack__link">
											ROBOT C
										</a>
									</nav>
								</div>
							</div>
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										Возраст
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											начальная школа
										</a>
										<a href="" class="menu-stack__link">
											средняя школа
										</a>
										<a href="" class="menu-stack__link">
											детский сад
										</a>
									</nav>
								</div>
							</div>
						</div>
						<div class="grid" hidden="hidden" data-menu="section" data-menu-section="8" id="menu-8">
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										8 Бренды
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											LEGO Education
										</a>
										<a href="" class="menu-stack__link">
											Tetrix
										</a>
										<a href="" class="menu-stack__link">
											HiTechnic
										</a>
										<a href="" class="menu-stack__link">
											Mindsensors
										</a>
										<a href="" class="menu-stack__link">
											ROBOT C
										</a>
									</nav>
								</div>
							</div>
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										Возраст
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											начальная школа
										</a>
										<a href="" class="menu-stack__link">
											средняя школа
										</a>
										<a href="" class="menu-stack__link">
											детский сад
										</a>
									</nav>
								</div>
							</div>
						</div>
						<div class="grid" hidden="hidden" data-menu="section" data-menu-section="9" id="menu-9">
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										9 Бренды
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											LEGO Education
										</a>
										<a href="" class="menu-stack__link">
											Tetrix
										</a>
										<a href="" class="menu-stack__link">
											HiTechnic
										</a>
										<a href="" class="menu-stack__link">
											Mindsensors
										</a>
										<a href="" class="menu-stack__link">
											ROBOT C
										</a>
									</nav>
								</div>
							</div>
							<div class="grid__col grid__col--6">
								<div class="menu-stack">
									<h3 class="menu-stack__title">
										Возраст
									</h3>
									<nav class="menu-stack__main">
										<a href="" class="menu-stack__link">
											начальная школа
										</a>
										<a href="" class="menu-stack__link">
											средняя школа
										</a>
										<a href="" class="menu-stack__link">
											детский сад
										</a>
									</nav>
								</div>
							</div>
						</div>
					</div>
					<div class="grid__col grid__col--1 mob-hidden">
						<div class="picture-menu">
							<img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="1" alt="">
							<img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="2" alt="">
							<img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="3" alt="">
							<img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="4" alt="">
							<img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="5" alt="">
							<img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="6" alt="">
							<img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="7" alt="">
							<img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="8" alt="">
							<img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="9" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<main class="main main--catalog">
		<div class="main__section mb-80 mbm-20">
			<section class="section">
				<div class="container">
					<div class="mb-50 mbt-35 mbm-20">
						<p class="breadcrumbs">
							каталог / робототехника / LEGO EDUCATION
						</p>
					</div>
					<div class="grid">
						<div class="grid__col grid__col--5">
							<h1 class="title title--page mb-20 mbm-10">
								Lego education
							</h1>
							<div class="editor editor--large">
								<p>
									Интернет-магазин Educube.ru является рекомендованным магазином LEGO Education в России. Помимо продукции компании LEGO мы
									предлагаем широкий ассортимент товаров, связанных с ранним развитием детей, который постоянно расширяется.
								</p>
							</div>
						</div>
						<div class="grid__col grid__col--7">
							<picture class="picture">
								<img src="./assets/images/1920x1080.jpg" alt="#">
							</picture>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="main__section mb-100 mbm-80">
			<section class="section">
				<div class="container">
					<div class="grid">
						<div class="grid__col grid__col--4 grid__col-mob--2">
							<a href="" class="article-category-short">
								<picture class="article-category-short__picture">
									<img src="./assets/images/1080x1080.jpg" alt="Комплекты для дома">
								</picture>
								<div class="article-category-short__content">
									<h3 class="article-category-short__title">
										Комплекты для дома
									</h3>
								</div>
							</a>
						</div>
						<div class="grid__col grid__col--4 grid__col-mob--2">
							<a href="" class="article-category-short">
								<picture class="article-category-short__picture">
									<img src="./assets/images/1080x1080.jpg" alt="Lego Роботы">
								</picture>
								<div class="article-category-short__content">
									<h3 class="article-category-short__title">
										Lego Роботы
									</h3>
								</div>
							</a>
						</div>
						<div class="grid__col grid__col--4 grid__col-mob--2">
							<a href="" class="article-category-short">
								<picture class="article-category-short__picture">
									<img src="./assets/images/1080x1080.jpg" alt="Комплектующие">
								</picture>
								<div class="article-category-short__content">
									<h3 class="article-category-short__title">
										Комплектующие
									</h3>
								</div>
							</a>
						</div>
						<div class="grid__col grid__col--4 grid__col-mob--2">
							<a href="" class="article-category-short">
								<picture class="article-category-short__picture">
									<img src="./assets/images/1080x1080.jpg" alt="Конструктор для изучения робототехники">
								</picture>
								<div class="article-category-short__content">
									<h3 class="article-category-short__title">
										Конструктор для изучения робототехники
									</h3>
								</div>
							</a>
						</div>
						<div class="grid__col grid__col--4 grid__col-mob--2">
							<a href="" class="article-category-short">
								<picture class="article-category-short__picture">
									<img src="./assets/images/1080x1080.jpg" alt="Комплекты для классов">
								</picture>
								<div class="article-category-short__content">
									<h3 class="article-category-short__title">
										Комплекты для классов
									</h3>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>

		</div>
		<div class="main__section">
			<section class="section overflow" data-catalog="block">
				<div class="container">
					<div class="catalog">
						<div class="catalog__inner">
							<div class="catalog__toolbar">
								<button class="button-filter" data-catalog="button-show">
                        <span class="button-filter__text">
                            Фильтр
                        </span>
									<svg class="button-filter__icon">
										<use href="./assets/sprite.svg#icon-filter"></use>
									</svg>
								</button>
								<select class="select-filter" name="sort" data-catalog="select-sorting">
									<option value="" disabled selected>Сортировать</option>
									<option value="popularity">По популярности</option>
									<option value="price+">Цена (выше)</option>
									<option value="price-">Цена (ниже)</option>
									>
								</select>
							</div>
							<div class="catalog__tags" data-catalog="tags"></div>
							<div class="catalog__filter" data-catalog="filter" hidden="hidden">
								<form action="" data-catalog="form" class="form-filter">
									<div class="form-filter__main">
										<div class="grid">
											<div class="grid__col grid__col--3 grid__col-tab--12 grid__col-mob--4">
												<div class="filter-item">
													<h4 class="filter-item__title">
														Цена
													</h4>
													<div class="filter-item__content">
														<div class="input-range" data-range="block">
															<!-- При первой загрузке страницы ты подставишь value - это будут минимальное и максимальное значения. ВАЖНО - minNumber и minRunge, и аналогично для max - должны быть идентичными, это необходимые input, чтобы сделать двойной ползунок -->
															<div class="input-range__main">
																<label class="input-number">
																	<span class="input-number__caption">Нижняя цена</span>
																	<input class="input-number__field" type="number" data-range="minNumber" name="priceMin" value="0">
																</label>
																<div class="input-range__separator"></div>
																<label class="input-number">
																	<span class="input-number__caption">Нижняя цена</span>
																	<input class="input-number__field" type="number" data-range="maxNumber" name="priceMax" value="190000">
																</label>
															</div>
															<div class="input-range__fields dual-range-input">
																<input data-range="minRange" type="range" min="0" max="190000" step="1" name="priceMin" value="0">
																<input data-range="maxRange" type="range" min="0" max="190000" step="1" name="priceMax" value="190000">
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="grid__col grid__col--2 grid__col-tab--6 grid__col-mob--4">
												<div class="filter-item">
													<h4 class="filter-item__title">
														Возраст
													</h4>
													<div class="filter-item__content">
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="PROPERTY_MATERIAL" value="%D0%B0%D0%BB%D1%8E%D0%BC%D0%B8%D0%BD%D0%B8%D0%B9">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">Алюминий</span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="PROPERTY_MATERIAL" value="plastic">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">Пластик</span>
														</label>
													</div>
												</div>
											</div>
											<div class="grid__col grid__col--2 grid__col-tab--6 grid__col-mob--4">
												<div class="filter-item">
													<h4 class="filter-item__title">
														Направление
													</h4>
													<div class="filter-item__content">
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="role-1">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Ранее математическое
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="role-2">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Ранее языковое
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="role-3">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Социально-эмоциональное
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="role-4">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Творческое познание мира
                                            </span>
														</label>
													</div>
												</div>
											</div>
											<div class="grid__col grid__col--2 grid__col-tab--6 grid__col-mob--4">
												<div class="filter-item">
													<h4 class="filter-item__title">
														Категория
													</h4>
													<div class="filter-item__content">
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="cat-1">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Комплект
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="cat-2">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Комплектующие
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="cat-3">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Конструктор
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="cat-4">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Механический конструктор
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="cat-5">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Микрокомпьютер
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="cat-6">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Набор
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="cat-7">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                ПО и доп. материалы
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="cat-8">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Поля для соревнований
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="cat-9">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Сенсоры и датчики
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="cat-10">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Электромеханический конструктор
                                            </span>
														</label>
													</div>
												</div>
											</div>
											<div class="grid__col grid__col--3 grid__col-tab--6 grid__col-mob--4">
												<div class="filter-item">
													<h4 class="filter-item__title">
														Серия (совместимость)
													</h4>
													<div class="filter-item__content">
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="series-1">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                DUPLO
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="series-2">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                LEGO WeDo
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="series-3">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Mindstorms EV3
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="series-4">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Mindstorms NXT+EV3
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="series-5">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Mindstroms NXT
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="series-6">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                SOFT
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="series-7">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                System
                                            </span>
														</label>
														<label class="checkbox-filter">
															<input class="checkbox-filter__input" type="checkbox" name="series-8">
															<span class="checkbox-filter__box"></span>
															<span class="checkbox-filter__text">
                                                Tetrix
                                            </span>
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="form-filter__toolbar">
										<button class="button button--large button--green-invert" type="reset">
                                <span class="button__text">
                                    Сбросить
                                </span>
										</button>
										<button class="button button--large button--green" type="submit">
                                <span class="button__text">
                                    Отправить
                                </span>
										</button>
									</div>
								</form>
							</div>

							<div class="catalog__content" data-catalog="content">
								<div class="grid" data-catalog="inner">
									<div class="grid__col grid__col--4 grid__col-tab--6 grid__col-mob--4" data-catalog="item">
										<article class="article-product">
											<div class="article-product__header">
												<a href="" class="article-product__title">
													Набор LEGO® Education BricQ Motion Старт
												</a>
											</div>
											<a href="" class="article-product__picture">
												<img src="./assets/images/1920x1080.jpg" alt="Набор LEGO® Education BricQ Motion Старт">
											</a>
											<div class="article-product__footer">
												<div class="price-preview">
													<p class="price-preview__status">
														В наличии
													</p>
													<div class="price-preview__main">
														<strong>
															56 200₽
														</strong>
														<del>
															87 200₽
														</del>
													</div>
												</div>
												<button class="article-product__button" data-product="261">
													положить
													<br>
													в корзину
												</button>
											</div>
										</article>
									</div>
									<div class="grid__col grid__col--4 grid__col-tab--6 grid__col-mob--4" data-catalog="item">
										<article class="article-product">
											<div class="article-product__header">
												<a href="" class="article-product__title">
													LEGO MINDSTORMS EV3 45544 базовый набор
												</a>
											</div>
											<a href="" class="article-product__picture">
												<img src="./assets/images/1920x1080.jpg" alt="Набор LEGO® Education BricQ Motion Старт">
											</a>
											<div class="article-product__footer">
												<div class="price-preview">
													<p class="price-preview__status">
														В наличии
													</p>
													<div class="price-preview__main">
														<strong>
															56 200₽
														</strong>
													</div>
												</div>
												<button class="article-product__button">
													положить
													<br>
													в корзину
												</button>
											</div>
										</article>
									</div>
									<div class="grid__col grid__col--4 grid__col-tab--6 grid__col-mob--4" data-catalog="item">
										<article class="article-product">
											<div class="article-product__header">
												<a href="" class="article-product__title">
													LEGO MINDSTORMS EV3 45544 базовый набор
												</a>
											</div>
											<a href="" class="article-product__picture">
												<img src="./assets/images/1920x1080.jpg" alt="Набор LEGO® Education BricQ Motion Старт">
											</a>
											<div class="article-product__footer">
												<div class="price-preview">
													<p class="price-preview__status">
														В наличии
													</p>
													<div class="price-preview__main">
														<strong>
															56 200₽
														</strong>
													</div>
												</div>
												<button class="article-product__button">
													положить
													<br>
													в корзину
												</button>
											</div>
										</article>
									</div>
									<div class="grid__col grid__col--4 grid__col-tab--6 grid__col-mob--4" data-catalog="item">
										<div class="grid__col grid__col--4 grid__col-tab--6 grid__col-mob--4" data-catalog="item">
											<article class="article-product">
												<div class="article-product__header">
													<a href="" class="article-product__title">
														LEGO MINDSTORMS EV3 45544 базовый набор
													</a>
												</div>
												<a href="" class="article-product__picture">
													<img src="./assets/images/1920x1080.jpg" alt="Набор LEGO® Education BricQ Motion Старт">
												</a>
												<div class="article-product__footer">
													<div class="price-preview">
														<p class="price-preview__status">
															В наличии
														</p>
														<div class="price-preview__main">
															<strong>
																56 200₽
															</strong>
														</div>
													</div>
													<button class="article-product__button">
														положить
														<br>
														в корзину
													</button>
												</div>
											</article>
										</div>
										<div class="grid__col grid__col--4 grid__col-tab--6 grid__col-mob--4" data-catalog="item">
											<article class="article-product">
												<div class="article-product__header">
													<a href="" class="article-product__title">
														Набор LEGO® Education BricQ Motion Старт
													</a>
												</div>
												<a href="" class="article-product__picture">
													<img src="./assets/images/1920x1080.jpg" alt="Набор LEGO® Education BricQ Motion Старт">
												</a>
												<div class="article-product__footer">
													<div class="price-preview">
														<p class="price-preview__status">
															В наличии
														</p>
														<div class="price-preview__main">
															<strong>
																56 200₽
															</strong>
															<del>
																87 200₽
															</del>
														</div>
													</div>
													<button class="article-product__button">
														положить
														<br>
														в корзину
													</button>
												</div>
											</article>
										</div>
										<div class="grid__col grid__col--4 grid__col-tab--6 grid__col-mob--4" data-catalog="item">
											<article class="article-product">
												<div class="article-product__header">
													<a href="" class="article-product__title">
														LEGO MINDSTORMS EV3 45544 базовый набор
													</a>
												</div>
												<a href="" class="article-product__picture">
													<img src="./assets/images/1920x1080.jpg" alt="Набор LEGO® Education BricQ Motion Старт">
												</a>
												<div class="article-product__footer">
													<div class="price-preview">
														<p class="price-preview__status">
															В наличии
														</p>
														<div class="price-preview__main">
															<strong>
																56 200₽
															</strong>
														</div>
													</div>
													<button class="article-product__button">
														положить
														<br>
														в корзину
													</button>
												</div>
											</article>
										</div>
										<div class="grid__col grid__col--4 grid__col-tab--6 grid__col-mob--4" data-catalog="item">
											<article class="article-product">
												<div class="article-product__header">
													<a href="" class="article-product__title">
														LEGO MINDSTORMS EV3 45544 базовый набор
													</a>
												</div>
												<a href="" class="article-product__picture">
													<img src="./assets/images/1920x1080.jpg" alt="Набор LEGO® Education BricQ Motion Старт">
												</a>
												<div class="article-product__footer">
													<div class="price-preview">
														<p class="price-preview__status">
															В наличии
														</p>
														<div class="price-preview__main">
															<strong>
																56 200₽
															</strong>
														</div>
													</div>
													<button class="article-product__button">
														положить
														<br>
														в корзину
													</button>
												</div>
											</article>
										</div>
									</div>
								</div>
							</div>

							<div class="catalog__pagination">
								<!-- Просто ссылка, такая же, как и ниже в пагинации, на последней странице не отдавай ее -->
								<a class="button button--small button--grey-invert" data-pagination-link="2">
				                    <span class="button__text">
				                        Показать еще
				                    </span>
								</a>
								<div class="pagination" data-pagination="block">
									<!-- TODO: Для кнопок лево-право считай от текущей страницы, и подставляй соответствующий номер. Если мы на первой или последнй странице, тогда указывай текущую -->
									<a href="" class="pagination__item" data-pagination-link="1" disabled>
										<svg class="pagination__icon">
											<use href="./assets/sprite.svg#icon-angle-left"></use>
										</svg>
									</a>
									<a href="" class="pagination__item" data-pagination-link="1">1</a>
									<a href="" class="pagination__item" data-pagination-link="2">2</a>
									<span class="pagination__item">...</span>
									<a href="" class="pagination__item" data-pagination-link="13">13</a>
									<a href="" class="pagination__item" data-pagination-link="14">14</a>
									<a href="" class="pagination__item" data-pagination-link="4">
										<svg class="pagination__icon">
											<use href="./assets/sprite.svg#icon-angle-right"></use>
										</svg>
									</a>
								</div>
							</div>
						</div>
					</div>
			</section>

		</div>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="stack stack--footer">
				<div class="grid footer-grid-main">
					<div class="grid__col grid__col--3 grid__col-tab--12 grid__col-mob--4 order-mob-1">
						<div class="links-column links-column--main">
							<h2 class="links-column__logo">
								эдукуб
							</h2>
							<div class="links-column__stack mob-hidden">
								<a href="" class="link-footer">
									Telegram
								</a>
								<a href="" class="link-footer">
									WhatsApp
								</a>
								<a href="" class="link-footer">
									VK
								</a>
							</div>
						</div>
					</div>
					<div class="grid__col grid__col--3 grid__col-tab--4 grid__col-mob--2 order-mob-5">
						<div class="links-column links-column--regular">
							<h2 class="links-column__title">
								Каталог
							</h2>
							<div class="links-column__stack">
								<a href="" class="link-footer">
									Конструкторы
								</a>
								<a href="" class="link-footer">
									Дроны
								</a>
								<a href="" class="link-footer">
									3D-принтеры
								</a>
								<a href="" class="link-footer">
									Цифровые лаборатории
								</a>
								<a href="" class="link-footer">
									Интерактивное оборудование
								</a>
								<a href="" class="link-footer">
									Мебель
								</a>
								<a href="" class="link-footer">
									Станки
								</a>
								<a href="" class="link-footer">
									VR
								</a>
								<a href="" class="link-footer">
									Ноутбуки
								</a>
							</div>
						</div>
					</div>
					<div class="grid__col grid__col--3 grid__col-tab--4 grid__col-mob--2 order-mob-6">
						<div class="links-column links-column--regular">
							<h2 class="links-column__title">
								Меню
							</h2>
							<div class="links-column__stack">
								<a href="" class="link-footer">
									О компании
								</a>
								<a href="" class="link-footer">
									Оплата и доставка
								</a>
								<a href="" class="link-footer">
									Блог
								</a>
								<a href="" class="link-footer">
									Книги по робототехнике
								</a>
								<a href="" class="link-footer">
									Поддержка
								</a>
								<a href="" class="link-footer">
									Контакты
								</a>
							</div>
						</div>
					</div>
					<div class="grid__col grid__col-mob--4 mob-visible order-mob-3">
						<nav class="nav-footer">
							<a href="" class="link-footer">
								Telegram
							</a>
							<a href="" class="link-footer">
								WhatsApp
							</a>
							<a href="" class="link-footer">
								VK
							</a>
						</nav>
					</div>
					<div class="grid__col grid__col--3 grid__col-tab--4 order-mob-2">
						<div class="links-column links-column--regular">
							<h2 class="links-column__title">
								Контакты
							</h2>
							<div class="links-column__stack">
								<p class="link-footer">
									г. Москва, ул. 2-я Звенигородская, д. 13, стр. 15
								</p>
								<p class="link-footer">
									Юр. адресс: 111397, г. Москва, Федеративный пр-кт, д. 4, кв. 47 офис XI
								</p>
								<p class="link-footer">
									Телефон:
									<a href="+74951202186">+7 (495) 120-21-86</a>
								</p>
								<p class="link-footer">
									<a href="mailto:info@educube.ru">info@educube.ru</a>
								</p>
								<p class="link-footer">
									Мы работаем: c 09:00 до 18:00
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="grid grid-footer-bottom">
					<div class="grid__col grid__col--3 grid__col-mob--4 order-mob-2">
						<div class="caption-footer">
							<p>
								© 2013 - 2024 Educube.ru
								<br>
								Рекомендованный магазин
								<br class="mob-hidden">
								LEGO® Education в России.
							</p>
						</div>
					</div>
					<div class="grid__col grid__col--9 grid__col-mob--4 order-mob-1">
						<nav class="nav-footer">
							<a href="" class="link-footer">
								Политика конфиденциальности
							</a>
							<a href="" class="link-footer">
								Оферта
							</a>
							<a href="" class="link-footer">
								Соглашение
							</a>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<style>
		.temp-content {
			columns: 2;
		}

		.temp-content > a {
			width:   50%;
			padding: 10px 0;
			display: block;
		}

		.temp-content > p {
			width:   50%;
			padding: 10px 0;
			display: block;
		}
	</style>

	<section class="temp">
		<div class="container">
			<div class="temp-content">
				<a href="./index.html">
					Главная
				</a>
				<a href="./banners.html">
					Баннеры
				</a>
				<a href="./categories.html">
					Категории
				</a>
				<a href="./catalog.html">
					Каталог
				</a>
				<a href="./product.html">
					Продукт
				</a>
				<a href="./productShort.html">
					Продукт (короткая)
				</a>
				<a href="./about.html">
					О компании
				</a>
				<a href="./blog.html">
					Блог
				</a>
				<a href="./post.html">
					Статья
				</a>
				<a href="./payments.html">
					Доставка
				</a>
				<a href="./contacts.html">
					Контакты
				</a>
				<a href="./cart.html">
					Корзина
				</a>
				<a href="./order.html">
					Оформить заказ
				</a>
			</div>
		</div>
	</section>

	<script defer src="bundle.js"></script>
</body>
</html>
