<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Продукт одиночная - ЭдуКуб</title>
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="icon" type="image/png" href="./assets/favicons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="./assets/favicons/favicon.svg" />
<link rel="shortcut icon" href="./assets/favicons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="./assets/favicons/apple-touch-icon.png" />
<link rel="manifest" href="./assets/favicons/site.webmanifest" />
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<link href="css/main.0fcf.css" rel="stylesheet"></head>
<body class="body body--white body--inner">
<header class="header">
    <div class="header__fixed">
        <div class="container">
            <div class="header-layout-regular">
                <div class="header-layout-regular__cell header-layout-regular__cell--logo">
                    <a href="./" class="logo-head logo-head--regular">
                        <img src="./assets/images/logo-regular.svg" alt="Логотип">
                    </a>
                </div>
                <div class="header-layout-regular__cell header-layout-regular__cell--main">
                    <div class="header-grid header-grid--regular">
                        <div class="header-grid__mobile">
                            <button class="button-burger" data-menu="button">
                                <svg class="button-burger__icon">
                                    <use href="./assets/sprite.svg#icon-menu"></use>
                                </svg>
                                <span class="button-burger__text">
                                Каталог
                            </span>
                            </button>
                        </div>
                        <div class="header-grid__nav">
                            <nav class="header-nav header-nav--regular">
                                <a href="" class="header-nav__link">
                                    о компании
                                </a>
                                <a href="" class="header-nav__link">
                                    оплата и доставка
                                </a>
                                <a href="" class="header-nav__link">
                                    блог
                                </a>
                                <a href="" class="header-nav__link">
                                    контакты
                                </a>
                            </nav>
                        </div>
                        <div class="header-grid__contacts">
                            <div class="header-contacts">
                                <a href="tel:+74951202186" class="header-contacts__link">
                                    +7 (495) 120-21-86
                                </a>
                                <a href="mailto:info@educube.ru" class="header-contacts__link header-contacts__link--accent">
                                    info@educube.ru
                                </a>
                            </div>
                        </div>
                        <div class="header-grid__toolbar">
                            <a class="button-header" href="">
                            <span class="button-header__counter" data-product-counter="block">
                                2
                            </span>
                                <svg class="button-header__icon">
                                    <use href="./assets/sprite.svg#icon-card"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="header-grid__separator"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="menu-layout" data-menu="block" hidden="hidden">
    <button class="menu-layout__button" data-menu="button">
        <svg class="menu-layout__icon">
            <use href="./assets/sprite.svg#icon-close"></use>
        </svg>
    </button>
    <div class="menu-layout__content">
        <div class="container">
            <div class="grid">
                <div class="grid__col grid__col--5 grid__col-mob--4">
                    <!--
                    Когда мы в десктоп режиме, то при клике на ссылку справа открывается блок с выбором подкатегорий
                    Когда мы в мобилке, то сразу проваливаемся на страницу каталога с родительской категорией.
                    В макете вообще не было мобильного меню, и я решил сделать так, иначе оно слишком переусложнено и неудобно для использования
                    -->
                    <nav class="menu-sidebar">
                        <a href="./catalog.html" data-menu-link="1" class="menu-sidebar__link" data-menu="link">
                            Конструкторы
                        </a>
                        <a href="./catalog.html" data-menu-link="2" class="menu-sidebar__link" data-menu="link">
                            Дроны
                        </a>
                        <a href="./catalog.html" data-menu-link="3" class="menu-sidebar__link" data-menu="link">
                            3d принтеры
                        </a>
                        <a href="./catalog.html" data-menu-link="4" class="menu-sidebar__link" data-menu="link">
                            Цифровые лаборатории
                        </a>
                        <a href="./catalog.html" data-menu-link="5" class="menu-sidebar__link" data-menu="link">
                            Интерактивное оборудование
                        </a>
                        <a href="./catalog.html" data-menu-link="6" class="menu-sidebar__link" data-menu="link">
                            Мебель
                        </a>
                        <a href="./catalog.html" data-menu-link="7" class="menu-sidebar__link" data-menu="link">
                            Станки
                        </a>
                        <a href="./catalog.html" data-menu-link="8" class="menu-sidebar__link" data-menu="link">
                            VR Оборудование
                        </a>
                        <a href="./catalog.html" data-menu-link="9" class="menu-sidebar__link" data-menu="link">
                            Ноутбуки
                        </a>
                    </nav>
                </div>
                <div class="grid__col grid__col--6 mob-hidden">
                    <div class="grid" hidden="hidden" data-menu="section" data-menu-section="1" id="menu-1">
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    Бренды
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        LEGO Education
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Tetrix
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        HiTechnic
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Mindsensors
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        ROBOT C
                                    </a>
                                </nav>
                            </div>
                        </div>
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    Возраст
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        начальная школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        средняя школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        детский сад
                                    </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="grid" hidden="hidden" data-menu="section" data-menu-section="2" id="menu-2">
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    Бренды
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        LEGO Education
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Tetrix
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        HiTechnic
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Mindsensors
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        ROBOT C
                                    </a>
                                </nav>
                            </div>
                        </div>
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    2 Возраст
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        начальная школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        средняя школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        детский сад
                                    </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="grid" hidden="hidden" data-menu="section" data-menu-section="3" id="menu-3">
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    3 Бренды
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        LEGO Education
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Tetrix
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        HiTechnic
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Mindsensors
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        ROBOT C
                                    </a>
                                </nav>
                            </div>
                        </div>
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    Возраст
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        начальная школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        средняя школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        детский сад
                                    </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="grid" hidden="hidden" data-menu="section" data-menu-section="4" id="menu-4">
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    4 Бренды
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        LEGO Education
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Tetrix
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        HiTechnic
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Mindsensors
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        ROBOT C
                                    </a>
                                </nav>
                            </div>
                        </div>
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    Возраст
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        начальная школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        средняя школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        детский сад
                                    </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="grid" hidden="hidden" data-menu="section" data-menu-section="5" id="menu-5">
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    5 Бренды
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        LEGO Education
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Tetrix
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        HiTechnic
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Mindsensors
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        ROBOT C
                                    </a>
                                </nav>
                            </div>
                        </div>
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    Возраст
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        начальная школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        средняя школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        детский сад
                                    </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="grid" hidden="hidden" data-menu="section" data-menu-section="6" id="menu-6">
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    6 Бренды
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        LEGO Education
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Tetrix
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        HiTechnic
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Mindsensors
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        ROBOT C
                                    </a>
                                </nav>
                            </div>
                        </div>
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    Возраст
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        начальная школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        средняя школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        детский сад
                                    </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="grid" hidden="hidden" data-menu="section" data-menu-section="7" id="menu-7">
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    7 Бренды
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        LEGO Education
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Tetrix
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        HiTechnic
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Mindsensors
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        ROBOT C
                                    </a>
                                </nav>
                            </div>
                        </div>
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    Возраст
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        начальная школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        средняя школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        детский сад
                                    </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="grid" hidden="hidden" data-menu="section" data-menu-section="8" id="menu-8">
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    8 Бренды
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        LEGO Education
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Tetrix
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        HiTechnic
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Mindsensors
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        ROBOT C
                                    </a>
                                </nav>
                            </div>
                        </div>
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    Возраст
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        начальная школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        средняя школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        детский сад
                                    </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="grid" hidden="hidden" data-menu="section" data-menu-section="9" id="menu-9">
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    9 Бренды
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        LEGO Education
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Tetrix
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        HiTechnic
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        Mindsensors
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        ROBOT C
                                    </a>
                                </nav>
                            </div>
                        </div>
                        <div class="grid__col grid__col--6">
                            <div class="menu-stack">
                                <h3 class="menu-stack__title">
                                    Возраст
                                </h3>
                                <nav class="menu-stack__main">
                                    <a href="" class="menu-stack__link">
                                        начальная школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        средняя школа
                                    </a>
                                    <a href="" class="menu-stack__link">
                                        детский сад
                                    </a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__col grid__col--1 mob-hidden">
                    <div class="picture-menu">
                        <img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="1" alt="">
                        <img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="2" alt="">
                        <img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="3" alt="">
                        <img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="4" alt="">
                        <img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="5" alt="">
                        <img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="6" alt="">
                        <img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="7" alt="">
                        <img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="8" alt="">
                        <img src="./assets/images/1080x1080.jpg" data-menu="picture" hidden="hidden" data-menu-picture="9" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<main class="main main--product">
    <div class="main__section mb-40">
        <section class="section">
    <div class="container">
        <p class="breadcrumbs">
            <a href="">каталог</a> / <a href="">робототехника</a> / LEGO MINDSTORMS EV3
        </p>
        <div class="grid ">
            <div class="grid__col grid__col--6 grid__col-mob--4">
                <div class="intro-product">
                    <p class="intro-product__caption">
                        45544, базовый набор
                    </p>
                    <h1 class="intro-product__title title title--page">
                        LEGO MINDSTORMS EV3
                    </h1>
                    <div class="intro-product__picture">
                        <picture class="picture">
                            <img src="./assets/images/1080x1080.jpg" alt="">
                        </picture>
                    </div>
                    <div class="intro-product__editor editor-simple">
                        <p>
                            Набор LEGO Mindstorms EV3 45544 - пожалуй, лучшая образовательная платформа для занятий робототехникой на уроках в школе, в организациях дополнительного образования детей, и домашнего использования от компании ЛЕГО.
                        </p>
                    </div>
                    <div class="intro-product__price price-product">
                        <div class="price-product__main">
                            <strong>
                                56 200₽
                            </strong>
                            <del>
                                87 200₽
                            </del>
                        </div>
                        <!-- Было в предыдущей версии дизайна, удалять не стал, вдруг верну. Тебе закомментированное не нужно -->
                        <!-- <p class="price-product__status">-->
                        <!--    Товар в наличии-->
                        <!-- </p>-->
                    </div>
                    <div class="intro-product__none">
                        <p class="intro-product__form-caption">
                            Сообщить о поступлении
                        </p>
                        <form action="" class="form-discount">
                            <input type="text" class="form-discount__field" placeholder="Ваш E-mail">
                            <button class="form-discount__button" type="submit">
                                Отправить
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="grid__col grid__col--6 grid__col-mob--4 mob-hidden">
                <picture class="picture">
                    <img src="./assets/images/1080x1080.jpg" alt="">
                </picture>
            </div>
        </div>
    </div>
</section>

    </div>
    <div class="main__section mb-150 mbt-120 mbm-80">
        <section class="section">
    <div class="container">
        <div class="grid">
            <div class="grid__col grid__col--3 grid__col-tab--6 grid__col-mob--4">
                <article class="article-factoid">
                    <svg class="article-factoid__icon">
                        <use href="./assets/sprite.svg#icon-factoid-1"></use>
                    </svg>
                    <p class="article-factoid__text">
                        разработаем <br>
                        техническое <br>
                        задание
                    </p>
                </article>
            </div>
            <div class="grid__col grid__col--3 grid__col-tab--6 grid__col-mob--4">
                <article class="article-factoid">
                    <svg class="article-factoid__icon">
                        <use href="./assets/sprite.svg#icon-factoid-2"></use>
                    </svg>
                    <p class="article-factoid__text">
                        оплата 30/70 <br>
                        или полная <br>
                        постоплата (44ФЗ)
                    </p>
                </article>
            </div>
            <div class="grid__col grid__col--3 grid__col-tab--6 grid__col-mob--4">
                <article class="article-factoid">
                    <svg class="article-factoid__icon">
                        <use href="./assets/sprite.svg#icon-factoid-3"></use>
                    </svg>
                    <p class="article-factoid__text">
                        Широкий выбор <br>
                        способов <br>
                        доставки
                    </p>
                </article>
            </div>
            <div class="grid__col grid__col--3 grid__col-tab--6 grid__col-mob--4">
                <article class="article-factoid">
                    <svg class="article-factoid__icon">
                        <use href="./assets/sprite.svg#icon-factoid-4"></use>
                    </svg>
                    <p class="article-factoid__text">
                        оплата при <br>
                        получении для <br>
                        физических лиц
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>

    </div>
    <div class="main__section mb-120 mbm-80">
        <section class="section">
    <div class="container">
        <div class="grid">
            <div class="grid__col grid__col--6 grid__col-mob--4 order-mob-2">
                <h2 class="title title--regular mb-35 mbm-20">
                    Описание
                </h2>
                <div class="editor editor--post">
                    <p>
                        Процесс работы с набором включает в себя сборку и программирование робота в рамках учебного занятия. Программирование осуществляется в специальном ПО, которое скачивается бесплатно с сайта LEGO Education (<a
                            href="">инструкция</a>). Эта среда разработана для учеников средней школы (5-9 классы), но на практике достаточно легко осваивается детьми с 8-9 лет.
                    </p>
                    <p>
                        LEGO 45544 состоит из традиционных пластиковых деталей LEGO Technic, а также включает электронные сенсоры, сервомоторы и микрокомпьютер EV3(последнего поколения). Подробные инструкции по сборке и программированию моделей ЛЕГО 45544, а также электронную рабочую тетрадь и рекомендации по проведению занятий, можно найти в программном обеспечении.
                    </p>
                </div>
                <div class="mt-35 mtm-20">
                    <a href="" class="link-accent">
                        Инструкция по сборке моделей
                    </a>
                </div>
            </div>
            <div class="grid__col grid__col--6 grid__col-mob--4 order-mob-1">
                <h2 class="title title--regular mb-35 mbm-20">
                    Характеристики
                </h2>
                <div class="product-info">
                    <div class="product-info__item">
                        <strong>
                            Артикул
                        </strong>
                        <span>
                            45544
                        </span>
                    </div>
                    <div class="product-info__item">
                        <strong>
                            Страна
                        </strong>
                        <span>
                            Дания
                        </span>
                    </div>
                    <div class="product-info__item">
                        <strong>
                            Материал
                        </strong>
                        <span>
                            Пластик
                        </span>
                    </div>
                    <div class="product-info__item">
                        <strong>
                            Возраст
                        </strong>
                        <span>
                            10+
                        </span>
                    </div>
                    <div class="product-info__item">
                        <strong>
                            Тип
                        </strong>
                        <span>
                            Конструктор
                        </span>
                    </div>
                    <div class="product-info__item">
                        <strong>
                            Раздел
                        </strong>
                        <span>
                            Образовательная робототехника
                        </span>
                    </div>
                    <div class="product-info__item">
                        <strong>
                            Размеры (см.)
                        </strong>
                        <span>
                            44x32x27
                        </span>
                    </div><div class="product-info__item">
                    <strong>
                        Гарантийный срок
                    </strong>
                    <span>
                        true
                    </span>
                </div>
                    <div class="product-info__item">
                        <strong>
                            Бренд
                        </strong>
                        <span>
                            LEGO
                        </span>
                    </div>
                    <div class="product-info__item">
                        <strong>
                            Категория
                        </strong>
                        <span>
                            Электромеханический конструктор
                        </span>
                    </div>
                    <div class="product-info__item">
                        <strong>
                            Категория
                        </strong>
                        <span>
                            Mindstorms EV3
                        </span>
                    </div>
                    <div class="product-info__item">
                        <strong>
                            Производитель
                        </strong>
                        <span>
                            LEGO Education
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    </div>
    <div class="main__section">
        <section class="section">
    <div class="container">
        <h2 class="title title--regular mb-30 mbm-20">
            Рекомендуемые товары
        </h2>
        <div class="swiper slider-recommended" data-slider="recommended">
            <div class="swiper-wrapper slider-recommended__wrapper">
                <div class="swiper-slide slider-recommended__slide">
                    <article class="article-product">
                        <div class="article-product__header">
                            <a href="" class="article-product__title">
                                Набор LEGO® Education BricQ Motion Старт
                            </a>
                        </div>
                        <a href="" class="article-product__picture">
                            <img src="./assets/images/1920x1080.jpg" alt="Набор LEGO® Education BricQ Motion Старт">
                        </a>
                        <div class="article-product__footer">
                            <div class="price-preview">
                                <p class="price-preview__status">
                                    В наличии
                                </p>
                                <div class="price-preview__main">
                                    <strong>
                                        56 200₽
                                    </strong>
                                    <del>
                                        87 200₽
                                    </del>
                                </div>
                            </div>
                            <!-- значение параметра - id товара, если он в корзине при обновлении страницы, меня текст на "в корзине" -->
                            <button class="article-product__button" data-product="123">
                                положить <br>
                                в корзину
                            </button>
                        </div>
                    </article>
                </div>
                <div class="swiper-slide slider-recommended__slide">
                    <article class="article-product">
                        <div class="article-product__header">
                            <a href="" class="article-product__title">
                                LEGO MINDSTORMS EV3 45544 базовый набор
                            </a>
                        </div>
                        <a href="" class="article-product__picture">
                            <img src="./assets/images/1920x1080.jpg" alt="Набор LEGO® Education BricQ Motion Старт">
                        </a>
                        <div class="article-product__footer">
                            <div class="price-preview">
                                <p class="price-preview__status">
                                    В наличии
                                </p>
                                <div class="price-preview__main">
                                    <strong>
                                        56 200₽
                                    </strong>
                                </div>
                            </div>
                            <button class="article-product__button">
                                положить <br>
                                в корзину
                            </button>
                        </div>
                    </article>
                </div>
                <div class="swiper-slide slider-recommended__slide">
                    <article class="article-product">
                        <div class="article-product__header">
                            <a href="" class="article-product__title">
                                LEGO MINDSTORMS EV3 45544 базовый набор
                            </a>
                        </div>
                        <a href="" class="article-product__picture">
                            <img src="./assets/images/1920x1080.jpg" alt="Набор LEGO® Education BricQ Motion Старт">
                        </a>
                        <div class="article-product__footer">
                            <div class="price-preview">
                                <p class="price-preview__status">
                                    В наличии
                                </p>
                                <div class="price-preview__main">
                                    <strong>
                                        56 200₽
                                    </strong>
                                </div>
                            </div>
                            <button class="article-product__button">
                                положить <br>
                                в корзину
                            </button>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

    </div>
</main>
<footer class="footer">
    <div class="container">
        <div class="stack stack--footer">
            <div class="grid footer-grid-main">
                <div class="grid__col grid__col--3 grid__col-tab--12 grid__col-mob--4 order-mob-1">
                    <div class="links-column links-column--main">
                        <h2 class="links-column__logo">
                            эдукуб
                        </h2>
                        <div class="links-column__stack mob-hidden">
                            <a href="" class="link-footer">
                                Telegram
                            </a>
                            <a href="" class="link-footer">
                                WhatsApp
                            </a>
                            <a href="" class="link-footer">
                                VK
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid__col grid__col--3 grid__col-tab--4 grid__col-mob--2 order-mob-5">
                    <div class="links-column links-column--regular">
                        <h2 class="links-column__title">
                            Каталог
                        </h2>
                        <div class="links-column__stack">
                            <a href="" class="link-footer">
                                Конструкторы
                            </a>
                            <a href="" class="link-footer">
                                Дроны
                            </a>
                            <a href="" class="link-footer">
                                3D-принтеры
                            </a>
                            <a href="" class="link-footer">
                                Цифровые лаборатории
                            </a>
                            <a href="" class="link-footer">
                                Интерактивное оборудование
                            </a>
                            <a href="" class="link-footer">
                                Мебель
                            </a>
                            <a href="" class="link-footer">
                                Станки
                            </a>
                            <a href="" class="link-footer">
                                VR
                            </a>
                            <a href="" class="link-footer">
                                Ноутбуки
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid__col grid__col--3 grid__col-tab--4 grid__col-mob--2 order-mob-6">
                    <div class="links-column links-column--regular">
                        <h2 class="links-column__title">
                            Меню
                        </h2>
                        <div class="links-column__stack">
                            <a href="" class="link-footer">
                                О компании
                            </a>
                            <a href="" class="link-footer">
                                Оплата и доставка
                            </a>
                            <a href="" class="link-footer">
                                Блог
                            </a>
                            <a href="" class="link-footer">
                                Книги по робототехнике
                            </a>
                            <a href="" class="link-footer">
                                Поддержка
                            </a>
                            <a href="" class="link-footer">
                                Контакты
                            </a>
                        </div>
                    </div>
                </div>
                <div class="grid__col grid__col-mob--4 mob-visible order-mob-3">
                    <nav class="nav-footer">
                        <a href="" class="link-footer">
                            Telegram
                        </a>
                        <a href="" class="link-footer">
                            WhatsApp
                        </a>
                        <a href="" class="link-footer">
                            VK
                        </a>
                    </nav>
                </div>
                <div class="grid__col grid__col--3 grid__col-tab--4 order-mob-2">
                    <div class="links-column links-column--regular">
                        <h2 class="links-column__title">
                            Контакты
                        </h2>
                        <div class="links-column__stack">
                            <p class="link-footer">
                                г. Москва, ул. 2-я Звенигородская, д. 13, стр. 15
                            </p>
                            <p class="link-footer">
                                Юр. адресс: 111397, г. Москва, Федеративный пр-кт, д. 4, кв. 47 офис XI
                            </p>
                            <p class="link-footer">
                                Телефон: <a href="+74951202186">+7 (495) 120-21-86</a>
                            </p>
                            <p class="link-footer">
                                <a href="mailto:info@educube.ru">info@educube.ru</a>
                            </p>
                            <p class="link-footer">
                                Мы работаем: c 09:00 до 18:00
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid grid-footer-bottom">
                <div class="grid__col grid__col--3 grid__col-mob--4 order-mob-2">
                    <div class="caption-footer">
                        <p>
                            © 2013 - 2024 Educube.ru <br>
                            Рекомендованный магазин <br class="mob-hidden">
                            LEGO® Education в России.
                        </p>
                    </div>
                </div>
                <div class="grid__col grid__col--9 grid__col-mob--4 order-mob-1">
                    <nav class="nav-footer">
                        <a href="" class="link-footer">
                            Политика конфиденциальности
                        </a>
                        <a href="" class="link-footer">
                            Оферта
                        </a>
                        <a href="" class="link-footer">
                            Соглашение
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
    .temp-content {
        columns: 2;
    }

    .temp-content > a {
        width: 50%;
        padding: 10px 0;
        display: block;
    }

    .temp-content > p {
        width: 50%;
        padding: 10px 0;
        display: block;
    }
</style>

<section class="temp">
    <div class="container">
        <div class="temp-content">
            <a href="./index.html">
                Главная
            </a>
            <a href="./banners.html">
                Баннеры
            </a>
            <a href="./categories.html">
                Категории
            </a>
            <a href="./catalog.html">
                Каталог
            </a>
            <a href="./product.html">
                Продукт
            </a>
            <a href="./productShort.html">
                Продукт (короткая)
            </a>
            <a href="./about.html">
                О компании
            </a>
            <a href="./blog.html">
                Блог
            </a>
            <a href="./post.html">
                Статья
            </a>
            <a href="./payments.html">
                Доставка
            </a>
            <a href="./contacts.html">
                Контакты
            </a>
            <a href="./cart.html">
                Корзина
            </a>
            <a href="./order.html">
                Оформить заказ
            </a>
        </div>
    </div>
</section>

<script defer src="bundle.js"></script></body>
</html>
